body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
  }
  
  .container {
    width: 400px;
    background-color: #fff;
    margin-top: 30px auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 16px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form {
    display:grid; 
  }
  
  .input-group {
    padding-bottom: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  .text{
    font-size: 25px;
    text-align: left;
    margin-top: 10px;
  }
  input[type="number"]{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"]{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }

  .delete-button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .login-form{
    text-align: center;
    padding-top: 10px;
    color: blue;
    text-decoration: none;
  }
  .login-form:hover{
    text-decoration: underline;
  }


  .navbar {
    width: 100%;
    padding: 3px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }